<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/web-fonts-with-css/css/fontawesome.css">
  </head>
  <body>
    <div id="container">Loading...</div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/build/vendor.js?version=1"></script>
    <script src="/js/build/<%=bundle%>.js?version=1"></script>
  </body>
</html>
