<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <div id="container"><%- initialContent -%></div> <!-- react is sensitive to spaces. so don't leave spaces around the initialContent variable-->
    <script>
      window.__initData__ = <%- JSON.stringify(initData) -%>
    </script>

<script src="/js/build/vendor.js?version=1"></script>
<script src="/js/build/<%=bundle%>.js?version=1"></script>

  </body>
</html>
